# Flutter 빌드/캐시 디렉토리
build/
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Firebase 관련 디렉토리
# firebase.json
.firebaserc

# Android 관련
android/.gradle/
android/captures/
android/local.properties
android/app/google-services.json

# IDE 설정 관련
*.iml
.idea/
.vscode/

# 환경 파일
.env
streamalert-a07d2-firebase-adminsdk-fbsvc-bbaf159dd3.json

# 로그 및 임시 파일
*.log
*.tmp
*.swp
*.DS_Store

**/chzzk_token.py
**/app.py
**/app2.py
**/app3.py
**/*test.py
**/test_analyzer.py
.windsurfrules

**/Afreeca_live_message.py
**/Chzzk_live_message.py
**/Twitch_chat_message.py
**/Twitch_live_message.py
**/make_chzzk_token.py